<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bands Page</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <h1>HELLO AND WELCOME TO THE BANDS PAGE</h1>
    <h3>Here is a list of bands for your enjoyment</h3>
    <ul>

    </ul>

  </body>
</html>
